<div class="row">
	<div class="col-md-12 text-center">
		<h2>Thank you!</h2>
		<p class="lead">Your message has been received.</p>
		<p>We will respond to your query as soon as we can, usually within 48 business hours.</p>
	</div>
</div>
